pip install Kivy	                   
pip install Kivy-Garden                          
pip install kivy-deps.angle	          
pip install kivy-deps.glew	          
pip install kivy-deps.sdl2		        
pip install kivymd     
